    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113326012-1');
</script>
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
