---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    {% if page.hardware %}
                    <a class="btn zoombtn" href="{{site.url}}/hardware/">
                    {% endif %}
                    {% if page.info %}
                    <a class="btn zoombtn" href="{{site.url}}/info/">
                    {% endif %}
                    {% if page.guide %}
                    <a class="btn zoombtn" href="{{site.url}}/guides/">      
                    {% endif %}
                    {% if page.software %}
                    <a class="btn zoombtn" href="{{site.url}}/software/">      
                    {% endif %}
                    {% if page.ps3guide %}
                    <a class="btn zoombtn" href="{{site.url}}/PS3-Downgrading-Index/">      
                    {% endif %}
                    {% if page.news %}
                    <a class="btn zoombtn" href="{{site.url}}/news/">      
                    {% endif %}
                    {% if page.fcadaptersguide %}
                    <a class="btn zoombtn" href="{{site.url}}/FlashcatUSB-xPort-Clip-Adapters-Guide-Index/">      
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
              </div>
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
